PROJECT_NAME=project

# Django
DEBUG=True
SECRET_KEY=mysecret
DOMAIN=project.localhost
DOMAIN_URL=http://project.localhost
ALLOWED_HOSTS=localhost,django,caddy,django.localhost,project.localhost
STATIC_ROOT=static
STATIC_URL=/static/
MEDIA_ROOT=media
MEDIA_URL=/media/

# Captcha
HCAPTCHA_ENABLED=False
HCAPTCHA_SECRET_KEY=0x0000000000000000000000000000000000000000

# Database
DB_NAME=project_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgresql
DB_PORT=5432

# Redis
REDIS_URI="redis://:@redis:6379"
REDIS_PORT=6379

# Caddy
CADDY_PORT_HTTP=80
CADDY_PORT_HTTPS=443

# Email
DEFAULT_FROM_EMAIL=no-reply@project.localhost
EMAIL_CONTACT=info@project.localhost
EMAIL_HOST=mailhog
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_PORT=1025
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
