PROJECT_NAME=project

# Domain
DOMAIN=project.localhost
DOMAIN_URL=http://project.localhost

# Database
DB_NAME=project_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgresql
DB_PORT=5432

# Django options
DJANGO_SECRET_KEY=mysecret

# Redis
REDIS_URI="redis://:@redis:6379"
REDIS_PORT=6379

# Caddy
CADDY_PORT_ONE=80
CADDY_PORT_TWO=443

# Email
DEFAULT_FROM_EMAIL=no-reply@project.localhost
EMAIL_CONTACT=info@project.localhost
EMAIL_HOST=mailhog
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_PORT=1025
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
