# Django
django===3.2
django-extensions
# Servidor para Django
uvicorn===0.13.4
websockets
# Channels
channels==2.4.0
# Conector de Redis para Channels
channels_redis===3.2.0
# Django REST framework
djangorestframework
markdown
django-filter
# Testing
pytest-django
pytest
# Pillow
Pillow===8.2.0
# Linter
black
