# Django
django===4.0.5
django-extensions===3.1.5
# PostgreSQL driver
psycopg2-binary===2.9.3
# Servidor para Django sin Websockets
gunicorn===20.1.0
# Servidor para Django con Websockets
uvicorn===0.18.1
websockets===10.3
# Channels
channels==3.0.5
asgiref===3.5.2
# Conector de Redis para Channels
channels_redis===3.4.0
# Template
# Pillow
Pillow===9.1.1